body{

    background: #e3e6eb;

}

a{

    text-decoration: none;

}

.escoba-text-color{

    color: #dfa754 !important;

}

.escoba-bg-color{

    background-color: #dfa754;

}

.escoba-bg-color *, .escoba-bg-color{
        
    color: white !important;

}

ul{

    list-style-type: none;
    margin: 0;
    padding: 0;

}

.escoba{

    width: 150px;
    margin: 40px auto -75px;
    display: block;
    position: relative;
    top: -70px;
    padding: 0;

}

.escoba-formulario{

    width: 185px;
    margin: -36px auto -40px;
    display: block;
    position: relative;
    top: -70px;
    padding: 0;

}

.imagen{

    background-color:#d7d7d7;
    border: 1px solid black; 

}

.boton{

    min-width: 200px;

}

@media only screen and (max-width: 766px){

    .boton{
  
      min-width: auto;
    
    }
  
}





